SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1 localhost *
DEBUG=1

DB_NAME=flow
DB_USER=flow
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=